/*网站通用样式*/
body{
  font-family: "Microsoft Yahei";
}
.wpa_popup{
  display: none;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.lh_80{
  line-height: 80px;
}
/*header头部样式*/
header .header-container {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow:0 0 20px rgba(204,204,204, .5);
  -moz-box-shadow:0 0 20px rgba(204, 204, 204, .5);  
  box-shadow:0 0 20px rgba(204, 204, 204, .5);
  /* position: fixed; */
  /* z-index: 999; */
  top: 0px;
}

/*banner样式*/
.banner{
  border-bottom: 2px #c7161e solid;
  position: relative;
  margin-bottom: 30px;
}
.banner img{
  width: 100%;
  margin: 0 auto;
}
.h_top {
  padding: 0 50px;
  height: 80px;
  line-height: 40px;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
  background: rgb(26,41,54);
}
.h_top .logo{
  float:left; 
  height:80px;
}
.h_top .phone{
  float: right;
  height: 60px;
  margin: 10px 10px;
}
.h_top .headerTitle{
  line-height: 70px;
  font-size: 26px;
}
.h_top .headerDesc{
  margin-left: 10px;
  line-height: 70px;
  font-size: 20px;
}
.h_top i {
  float: left;
}
.h_top p {
  float: right;   
   word-spacing: -1.5px;
  font-family: "Microsoft Yahei";
}
.color_yellow {
  color: #FF7A00 !important;
}
.h_top p b {
  padding: 0 5px;
  color: #ff7a00;
}
header .header-container .nav-box {
  height: 50px;
  margin: 0 auto;
}
header .header-container .nav-box .nav-left {
  width: 160px;
  height: 80px;
  float: left;
}
header .header-container .nav-box .nav-left #logo_top {  
  width: 160px;
  height: 80px;
  float: left;
  margin-top: 5px;
}
header .header-container .nav-box .nav-mid {
  height: 50px;
  padding: 0 0px;
  color: white;
  font-weight: bold;
  /* float: right; */
  background-color: rgb(82, 45, 27);
  margin-bottom: 20px;
}
header .header-container .nav-box .nav-mid #lang {
  width: 25px;
  height: 29px;
  float: right;
  margin-left: 44px;
  margin-top: 34px;
  cursor: pointer;
}

header .header-container .nav-box .nav-mid .navbar-nav {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  display: inline-block;
}
header .header-container .nav-box .nav-mid .navbar-nav li {
  float: left;
  padding: 0 20px 0 20px;
  text-align: center;
  list-style: none;
}
header .header-container .nav-box .nav-mid .navbar-nav li:hover {
  background-color: rgb(49,25,13)
}
header .header-container .nav-box .nav-mid .navbar-nav li a {
  min-width: 20px;
  font-size: 16px;
  font-family: "Microsoft YaHei UI";
  color:white;
  height: 50px;
  padding-bottom: 15px;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}
header .header-container .nav-box .nav-mid .navbar-nav li a::after {
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  content: "";
  display: block;
  height: 2px;
  background: #c7161e;
  position: absolute;
  bottom: 0;
  opacity: 0.3;
  left: -1px;
  width: calc(102%);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
}
header .header-container .nav-box .nav-mid .navbar-nav li a:hover::after {
  opacity: 1;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
header .header-container .nav-box .nav-mid .navbar-nav li a.active {
  border-bottom: 2px solid #c7161e;
  box-sizing: border-box;
  /* color: #434343; */
}
header .header-container .nav-box .nav-mid .navbar-nav li a.active:hover::after {
  display: none;
}
header .header-container .nav-box .nav-mid .navbar-nav li.last {
  margin-right: 0;
}
header .header-container .nav-box .nav-mid .navbar-nav li.line-item {
  line-height: 87px;
  color: #999;
}
/* QQ */
.izl-rmenu{
  margin-right: 0;
  width: 82px;
  position: fixed;
  right: 2px;
  top: 50%;
  -webkit-box-shadow: #DDD 0px 1px 5px;
  -moz-box-shadow: #DDD 0px 1px 5px;
  box-shadow: #DDD 0px 1px 5px;
  z-index:999;
}
.izl-rmenu .consult{    
background-image: url(https://jiejiangs-1253930943.cos.ap-guangzhou.myqcloud.com/images/consult_icon.gif);
background-repeat: no-repeat;
background-position: center -77px;
display: block;
height: 76px;
width: 82px;
}
.izl-rmenu .consult .phone {
  background-color: rgb(247,247,255);
  position: absolute;
  width: 160px;
  left: -160px;
  top: 0px;
  line-height: 73px;
  color: #000;
  font-size: 18px;
  text-align: center;
  display: inline;
  box-shadow: #DDD -1px 1px 4px;
}
.izl-rmenu .consult .phone a{
  display: block
}
.izl-rmenu .consult:hover .phone{display:inline !important;}
.izl-rmenu .cart {
  background-image: url(https://jiejiangs-1253930943.cos.ap-guangzhou.myqcloud.com/images/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #45BDFF;
  text-align: center;
  padding-top: 15px;
  padding-right: 18px;
  padding-bottom: 47px;
  padding-left: 48px;
}
.izl-rmenu a.cart:hover .pic{display:block;}

.izl-rmenu .cart .pic {
  display:none;
  position: absolute;
  left: -265px;
  top: -76px;
  width: 260px;
  height: 260px;
}

#udesk-feedback-tab {
  position: fixed;
  right: 2px;
  top: 50%;
  margin-top: -76px;
  -webkit-box-shadow: #DDD 0px -1px 5px;
  -moz-box-shadow: #DDD 0px -1px 5px;
  box-shadow: #DDD 0px -1px 5px;
  z-index: 10000;
  cursor: pointer;
  background-image: url(https://jiejiangs-1253930943.cos.ap-guangzhou.myqcloud.com/images/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  height: 76px;
  width: 82px;
  background-color: #FFF!important;
  z-index:999;
}

/* 微信及联系方式 */
.box-weixin .wixin-fa{
  display: inline-block;
  width: 100%;
}

.box-weixin .wixin-fa span{
	display: block;
	width: 200px;
	height: 200px;
	background-image: url("https://jiejiangs-1253930943.cos.ap-guangzhou.myqcloud.com/images/weixin.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}

.box-weixin .wixin-info{
	position: relative;
	display: inline-block;
	width: 100%;
}

.box-weixin .wixin-info a{	
	text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    width: 200px;
    height: 36px;
    margin: 5px auto;
    border-radius: 10px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border: 1px #fff solid; 
    border-color: rgba(255,153,0,1);
    color: rgba(255,153,0,1); 
}

.box-weixin .wixin-info a:hover{
    -webkit-box-shadow:0 0 20px rgba(255,153,0, .3);
	-moz-box-shadow:0 0 20px rgba(255,153,0, .3);  
    box-shadow:0 0 20px rgba(255,153,0, .3);
}

.box-weixin .wixin-info p{
	text-align: center;
}
.ov-h{
  overflow: hidden;
}

/*footer样式*/
footer{
    width: 100%;
    background-color: #fff; 
    padding-top: 40px;
    -webkit-box-shadow:0 0 10px rgba(204,204,204, .5); /*透明度绿色高亮*/ 
    -moz-box-shadow:0 0 10px rgba(204, 204, 204, .5);  
    box-shadow:0 0 10px rgba(204, 204, 204, .5);
}

footer .footer-box{
    width: 90%;
    margin: 0 auto;
}

footer .footer-left{
  float: left;
  display: inline-block;
  margin-left: 10px; 
  padding-left: 10%;
}

footer .footer-right{
  float: right;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10%;  
}

footer ul{
  float: left;
  list-style: none;
  text-align: left;
}

footer ul li a{
  color: #555;
  font-size: 16px;
  line-height: 40px;   
}

footer ul li a:hover{
  color: #c7161e;
  text-decoration: none;
}

footer ul .footer-contact{
  font-size: 14px;
  line-height: 30px;
  color: #898989;
}

footer ul:last-child{
  padding-top: 4px;
}

/*版权信息样式*/
.copy{
    background-color: #fff;
    width: 100%;
    -webkit-box-shadow:0 0 10px rgba(204,204,204, .5); /*透明度绿色高亮*/ 
    -moz-box-shadow:0 0 10px rgba(204, 204, 204, .5);  
    box-shadow:0 0 10px rgba(204, 204, 204, .5);
}
.copyright{
    padding-top: 10px;
    font-size: 12px;
}

/*返回顶部按钮*/
.back-to-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-image: url("https://jiejiangs-1253930943.cos.ap-guangzhou.myqcloud.com/images/back2top.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  color: #fff;
  border: none;
  border-radius: 20px;
  outline:none;
  background-color: #c7161e;
  -webkit-box-shadow:2px 5px 20px gray;
  -moz-box-shadow:2px 5px 20px gray;  
  box-shadow:2px 5px 20px gray;
  transition: box-shadow 0.2s ease-in;
}

.back-to-top:hover{
  -webkit-box-shadow:0 10px 50px gray;
  -moz-box-shadow:0 10px 50px gray;  
  box-shadow:0 10px 50px gray;
}

/*移动端菜单入口*/
header .header-container .nav-box .nav-mobile-menu{ 
  margin-top: 30px;
  float: right;
  display: none;
}
header .header-container .nav-box .nav-mobile-menu span{
  display: inline-block;
  width: 40px;
  height: 50px;
  background: url("https://jiejiangs-1253930943.cos.ap-guangzhou.myqcloud.com/images/menu2.png") no-repeat;
  background-size: 100%;
  cursor: pointer;
}

/*移动端菜单sidebar*/
.sidebar{
  position: fixed;
  top: 0px;
  width: 200px;
  background-color: #c7161e;
  padding: 20px 0px;
  transition: right 0.2s;
  z-index: 1001;
  right: -200px;
}
.sidebar ul{
   margin:0; 
   padding: 0;
}

.sidebar ul li{
  line-height: 40px;
  list-style: none;
  padding: 0px 20px;
  text-align: center;
}

.sidebar ul li a{
  text-decoration: none;
  color: #fff;
}

.sidebar ul li:hover{
  background-color: #930000;
}

.sidebar ul li .active{
  color: #ff9900;
}
/*关灯遮罩*/
.mask{
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
  z-index: 1000;
  display: none;
}
.flex-container {
  display: -webkit-flex;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 75px;
  background-color: white;
}

.flex-item {
  margin: 0 ;
  padding:5px;
  background-color: rgb(255,151,0);  
  width: 25%;
  height: 70px;
  text-align: center;
}
.flex-item img{
  width:60%;
  height:45px;
  display:inline-block;
}
.flex-item  span{
  display: block;
  color: white;
}
.showMobile{
  display: none;
}

/*响应式媒体查询处理*/
@media screen  and (max-width: 1200px) {
  /* .feature{
    width: 900px !important;
  } */
}

@media  screen  and (max-width: 970px) {
  header .header-container .nav-box #lang{
    display: none;
  }
  /* .feature{
    width: 440px !important;
  }
  .feature-content{
    margin-left: 0px !important;
  } */
  .org-group{
    width: 100% !important;
  }
}
@media  screen  and (max-width: 830px) {
  header .header-container .nav-box {
    height: 0px !important;
  }
  header .header-container .nav-box .nav-mid{
    display: none;
  }
  header .header-container .nav-box .nav-mobile-menu{
    display: block;
    position: fixed;
    right: 10px;
    top: -15px;
    z-index: 10;
  }  
  
}
/*移动端兼容*/
@media  screen  and (max-width: 740px) {
  .box-left{
    display: none !important;
  }
  .box-right{
    width: 100% !important;
  }
  .box-right-mid{
    padding: 10px !important;
  }
  .box{
    width: 90% !important;
  }
}

/*移动端banner兼容*/
@media  screen  and (max-width: 500px) {
  .banner img{
    height: 200px !important;
  }
  .banner h1{
    font-size: 24px !important;
  }
  .feature{
    width: 90% !important;
  }
  .feature-content,.shejishi-image{
    width: 100% !important;
  }
  .org-container{
    display: none;
  }
  .jdal{
    display: none;
  }
  .nr01, .nr02{
    width: 100% !important;
    height: auto  !important;
  }
  .nr01 p{
    line-height: 30px !important;
  }
  .nr01 p, .nr01 a, .nr01 span{
    display: none !important;
  }
  section.sjtd{
    display: none !important;
  }


  .nr02 p{
    height: 20%;
    padding: 5% 0px !important;
  }
  .nr_top {
    text-align: center;
    padding: 0px !important;
    
  }
  .nr01-top{
    padding: 0 !important; 
    height: auto !important; 
  }
  .nr_top b { 
    font-size:24px !important;
  }
  .adaptive-circle h2{
    margin: 0;
    line-height: 100%;
    font-size: 28px !important;
  }
  .adaptive-circle p{
    display: none;
  }
  .fulcImg{
    display: none !important;
  }
  .fulcImg1{
    display: block !important;
  }
  .fulcImg2{
    display: block !important;
    transform: translateX(-50%)
  }

  .feature{
    padding: 2% 0px !important;
  }
  .feature .service_left{
    width: 100% !important;
    height: auto!important;
  }
  .feature .service_right{
    margin: 10px !important;
    width: 100% !important;
  }
  .flex-container {
    display: flex;
  }
  .copy{
    margin-bottom: 70px;
  }
  .mobile_demo{
    text-align: center;
  }
  .mobile_demo_parent{
    width:50%;float:left;
    padding:2px !important;;
    box-sizing:border-box;
    color:black !important;
  }
  .mobile_demo_img{
    width:100%;
    height:100px !important;
  }
  .mobile_demo_span{
    display: inline-block;
    width: 100%;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .demo_item_container{
    width:50% !important;
    float:left;
    padding:10px;
  }
  .demo_item_container img{
    width:100%;
    height: 100px !important;
  }
  .box-weixin .wixin-fa {
    width: 100% !important;
  }
  .box-weixin .wixin-info {
    position: relative;
    display: inline-block;
    width: 100% !important;
  }
  .news_container{
    padding: 10px !important;
    margin: 5px !important;
  }
  .news_container a{
    width: 68%;
    display: inline-block;
  }
  .shigong_container{
    padding: 10px !important;
    margin: 5px !important;
  }
  .shigong_container{
    border: 1px;
    height: 200px;
  }
  .shigong_container:hover{
    border: 1px solid goldenrod;
  }
  .shigong_container img{
    width:100% !important;
    height:100%  !important;
  }
  .shigong_right_container{
    width:100% !important;
    font-size: 14px;
  }
  .shigong_right_container a{
    text-align: center;
    font-size: 14px !important;
  }
  .shigong_right_container span, .shigong_right_container p{
    display: none
  }
  .hideMobile{
    display: none !important;
  }
  .showMobile{
    display: block;
  }
  .h_top {
    padding: 0;
    line-height: 14px;
  }
  .nr01 .nr01-top strong {
    font-size: 18px !important;
  }
  .mobile_parent_menu{
    border: solid 1px #eaeaea;
    border-radius: 2px;
    width: 33%;
    height: 34px;
    line-height: 34px;
    display: block;
    font-size: 16px;
    color: white;
    background-color: rgb(255,151,0);
    float: left;
    text-align: center;
  }
  .mobile_child_menu{

    border: solid 1px #eaeaea;
    border-radius: 2px;
    width: 33%;
    height: 32px;
    line-height: 32px;
    display: block;
    font-size: 12px;
    color: #212324;
    float: left;
    text-align: center;
  }
  .adaptive-circle {
    /* margin: 50px auto 0; */
    margin: 0px !important;
  }
  .box-right-top {
     padding-bottom: 0px !important;
  }
  .feature_item {
     margin-bottom: 10px !important;
  }
  .nr_top {
    background:gray
  }

}