<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="广西杰匠装饰设计工程有限公司，携手资深设计团队，精湛施工团队，为您提供优质的一站式设计装修服务。我们承诺，报价透明，性价比高，提供终身质保服务。" />
  <meta name="keywords" content="杰匠,装饰,装修,南宁,广西" />
  <meta name="author" content="YWQ">
  <title>广西杰匠装饰设计工程有限公司-案例中心</title>
  <!-- 框架 -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- 样式清理 -->
  <link href="css/normalize.css" rel="stylesheet">
  <!-- 通用页面样式 -->
  <link href="css/main.css" rel="stylesheet">
  <!-- 首页样式 -->
  <link href="css/index.css" rel="stylesheet">
  <link href="css/page.css" rel="stylesheet">
  <!-- HTML5兼容性处理 -->
  <!-- Respond.js响应式设计>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- Favicons网站图标 -->
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel="bookmark" href="img/favicon.ico" type="image/x-icon" />
  <script src="	https://jiejiangs-1253930943.cos.ap-guangzhou.myqcloud.com/demo.js"></script>
  <!-- <script src="./js/demo.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <!-- 移动端导航 -->
  <div class="mask"></div>
  <div class="sidebar">
    <ul>
      <li>
        <a href="index.html">杰匠首页</a>
      </li>
      <li>
        <a href="product.html?type1=办公室装修">办公室装修</a>
      </li>
      <li>
        <a href="product.html?type1=商业空间装修">商业空间装修</a>
      </li>
      <li>
        <a href="product.html?type1=餐饮会所装修  ">会所装修</a>
      </li>
      <li>
        <a href="product.html">工程案例</a>
      </li>
      <li>
        <a href="shigong.html">施工现场</a>
      </li>
      <li>
        <a href="news.html">资讯中心</a>
      </li>
      <li>
        <a href="aboutus.html">关于杰匠</a>
      </li>
    </ul>
  </div>
  <!--qq聊天代码部分begin-->
  <div class="izl-rmenu">
    <div class="consult" target="_blank">
      <div class="phone color_yellow" style="display:none;">
        <a href="tel:0771-3925356">0771-3925356</a>
        <a href="tel:177 7481 9799">177 7481 9799</a>
      </div>
    </div>
    <a class="cart">
      <img class="pic" src="./images/weixin.png"></img>
    </a>
  </div>
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3292757596&site=qq&menu=yes" id="udesk-feedback-tab" class="udesk-feedback-tab-left"
    style="display: block; background-color: black;"></a>
  <!--qq聊天代码部分end-->
  <!-- header顶部导航 -->
  <header>
    <div class="header-container">
      <div class="h_top">
        <img class="logo" src="./images/logo.png">
        <span class="color_yellow fl headerTitle">广西杰匠装饰</span>

        <i class="headerDesc">
          <span class="">专业</span> 公装品牌 办公装修 设计施工 </i>
        <p class="lh_80">咨询热线：
          <b>
            <a class="color_yellow">0771-3925356</a>／ 17774819799</b>
        </p>
        <img class="phone" src="./images/phone.png">

      </div>

      <div class="nav-box">

        <div class="nav-mid">

          <ul class="navbar-nav">
            <li>
              <a href="index.html">杰匠首页</a>
            </li>
            <li>
              <a class="" href="product.html?type1=办公室装修">办公室装修</a>
            </li>
            <li>
              <a class="" href="product.html?type1=商业空间装修">商业空间装修</a>
            </li>
            <li>
              <a class="" href="product.html?type1=餐饮会所装修  ">会所装修</a>
            </li>
            <li>
              <a class="active" href="product.html">工程案例</a>
            </li>
            <li>
              <a class="" href="shigong.html">施工现场</a>
            </li>
            <li>
              <a class="" href="news.html">资讯中心</a>
            </li>
            <li>
              <a class="" href="aboutus.html">关于杰匠</a>
            </li>
          </ul>
        </div>
        <!-- 响应式菜单 -->
        <div class="nav-mobile-menu">
          <span class="sidebar_trigger"></span>
        </div>
      </div>
    </div>
  </header>

  </div>
  <!-- section -->
  <section>
    <div id="app" class="box clearfix">
      <div class="box-left">
        <div class="title">
          <h3>案例列表</h3>
        </div>
        <div class="asideBox">
          <aside>
            <ul class="asideMenu">
              <li v-for="(item,index) in menuList">
                <div class="oneMenu" @click="clickParent(item.text,index)">
                  <a>{{item.text}}</a>
                </div>
                <ul v-show="item.text == currentParent">
                  <li v-for="subItem in item.children">
                    <a class="oneMenuChild" @click="clickChild(subItem)">{{subItem}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
        </div>
      </div>
      <div class="box-right">
        <div class="box-right-top">
          <ul>
            <li>当前位置&nbsp>></li>
            <li>工程案例</li>
            <li v-if="this.currentParent" @click="clickParent(currentParent)">
              &nbsp>>
              <a>{{currentParent}}</a>
            </li>
            <li @click="clickChild(currentChild)">
              <span v-if="currentChild">&nbsp>> </span>
              <a>{{currentChild}}</a>
            </li>
            <li>
              <span v-if="currentTitle">&nbsp>> </span>{{currentTitle}}</li>
          </ul>
        </div>
        <div class="box-right-mid clearfix demoParent" v-if="currentItem.title">
          <!-- 第一段 -->
          <div v-html="currentItem.content">
            {{currentItem.content}}
          </div>
          <p style="margin: 10px;font-size:18px;font-weight:bold;">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp广西杰匠装饰，以诚信为宗旨，巧妙的设计构思，精良的施工工艺，优质的质保服务。坚持以客户为中心，为客户提供满意的装修服务。了解更多有关办公室装修，商业空间装修，高端办公室装修，投资办公室装修，各种装修资讯可以直接拨打热线0771-3925356,我们期待您的来电。
          </p>
          <P style="margin: 10px;font-size:18px;font-weight:bold;">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp主营业务：办公室装修，商场装修，餐饮店装修，会所装修，酒店宾馆装修，学校装修，幼儿园装修，厂房装修
          </P>

          <div class="box-weixin clearfix">
            <div class="wixin-fa">
              <p>
                <b>欢迎扫码资讯</b>
              </p>
              <span></span>
            </div>
            <div class="wixin-info">
              <p>联系人：&nbsp 吴先生 </p>
              <p>地址：&nbsp 南宁江南区工业机械设计院501号 </p>
              <p>座机：&nbsp 0771-3925356 </p>
              <p class="phone">电话：&nbsp +86 177 7481 9799</p>
              <p class="phone">Q&nbspQ： &nbsp 3292757596</p>
            </div>
          </div>
        </div>

        <div class="box-right-mid clearfix" v-else>
          <div v-for="(item,index) in demos" @click="clickItem(item)" style="width:25%;float:left;padding:10px;">
            <div class="wixin-fa">
              <img :src="item.image" :alt="item.title" style="width:100%;height: 200px;">
              <p style="text-align:center;margin:10px;">
                {{item.title}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer页面底部 -->
  <footer style="padding:20px">
    <img src="./images/foot.jpg" style="width:100%;height:auto" alt="">


  </footer>

  <!-- 版权信息 -->
  <div class="container copy">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copyright">©2019 广西杰匠装饰设计工程有限公司. 版权所有.
          <a href="http://www.miitbeian.gov.cn">沪ICP备 19003402 号</a>
        </p>
      </div>
    </div>
  </div>
  <!-- 返回顶部按钮 -->
  <button class="back-to-top" style="display: none;"></button>
  <!-- 框架库加载 -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- 脚本加载 -->
  <script src="js/main.js"></script>

  <script>
    var app4 = new Vue({
      el: '#app',
      data: {
        menuList: arrs,
        demos: demos,
        currentParent: "",
        currentChild: "",
        currentTitle: "",
        currentItem: {},

      },
      methods: {
        getUrlParam: function (name) {
          var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)');
          var result = window.location.search.substr(1).match(reg);
          return result ? decodeURIComponent(result[2]) : "";
        },
        getDemos: function () {
          this.demos = [];
          for (let demo of demos) {
            if (demo.type1 == this.currentParent && (demo.type2 == this.currentChild || !this.currentChild)) {
              this.demos.push(demo)
            }
          }
        },
        // 点击展开折叠菜单事件
        clickParent: function (item, ind) {
          this.currentParent = item
          this.currentChild = ""
          this.currentItem = {};
          this.getDemos();
        },
        clickChild: function (child) {
          this.currentChild = child;
          this.currentItem = {};
          this.getDemos();
        },
        clickItem: function (item) {
          this.currentItem = item;
          this.currentParent = item.type1;
          this.currentChild = item.type2;
          this.currentTitle = item.title;
        }
      },
      watch: {
        currentItem: function (n) {
          this.currentTitle = n.title;
        }
      },
      mounted: function () {
        this.currentParent = this.getUrlParam("type1");
        this.currentChild = this.getUrlParam("type2");
        console.log(this.currentChild, this.currentParent)
        //没选父类的话，展示所有类别
        if (!this.currentParent) {
          // this.currentParent = this.menuList[0].text
        } else {
          this.getDemos();
        }
      },

    })
  </script>
</body>

</html>