<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="南宁办公室装修设计首推广西杰匠办公室装修公司，杰匠装饰在南宁办公室设计装修公司中排名前列，拥有多种办公室装修风格案例，广西杰匠办公空间设计公司主要服务南宁办公室装修，办公室设计，南宁店面装修，专卖店装修，南宁餐饮店装修等多种南宁公装设计施工项目！" />
    <meta name="keywords" content="南宁装修公司,南宁办公室装修设计,南宁装饰公司,广西装修公司, 南宁商铺装修" />
    <meta name="author" content="YWQ">
    <title>广西杰匠装饰设计工程有限公司-施工现场</title>
  <!-- 框架 -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- 样式清理 -->
  <link href="css/normalize.css" rel="stylesheet">
  <!-- 通用页面样式 -->
  <link href="css/main.css" rel="stylesheet">
  <!-- 首页样式 -->
  <link href="css/index.css" rel="stylesheet">
  <link href="css/page.css" rel="stylesheet">
  <!-- Favicons网站图标 -->
  <link rel="shortcut icon" href="./favicon.ico" />
  <link rel="bookmark" href="./favicon.ico" type="image/x-icon" />
  <script>
      document.write("<script type='text/javascript' src='https://jiejiangs-1253930943.file.myqcloud.com/shigong.js?random="+Math.random()+"'></s"+"cript>");
 </script>
 
 <!-- 百度竞价 -->
 <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?84c61685c600a5c94cc90bad2a56cbf2";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  
  <!-- <script src="./js/shigong.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <!-- 移动端导航 -->
  <div class="mask"></div>
  <div class="sidebar">
    <ul>
      <li>
        <a href="index.html">杰匠首页</a>
      </li>
      <li>
        <a href="product.html?type1=广西南宁办公室装修">办公室装修</a>
      </li>
      <li>
        <a href="product.html?type1=广西南宁商业空间装修">商业空间装修</a>
      </li>
      <li>
        <a href="product.html?type1=广西南宁会所装修">会所装修</a>
      </li>
      <li>
        <a href="product.html">工程案例</a>
      </li>  
      <li>
        <a href="shigong.html">施工现场</a>
      </li>
      <li>
        <a href="news.html">资讯中心</a>
      </li>
      <li>
        <a href="aboutus.html">关于杰匠</a>
      </li>
    </ul>
  </div>
   <!--qq聊天代码部分begin-->
   <div class="izl-rmenu hideMobile">
    <div class="consult" target="_blank">
      <div class="phone color_yellow" style="display:none;">
          <a href="tel:0771-3925356">0771-3925356</a>
          <a href="tel:177 7481 9799">177 7481 9799</a> 
      </div>
    </div>
    <a class="cart">
      <img class="pic" src="https://jiejiangs-1253930943.file.myqcloud.com/images/weixin.png"></img>
    </a>
  </div>
  <a class="hideMobile" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3292757596&site=qq&menu=yes" id="udesk-feedback-tab" class="udesk-feedback-tab-left"
    style="display: block; background-color: black;"></a>
  <!--qq聊天代码部分end-->

  <!-- header顶部导航 -->
  <header>
    <div class="header-container">
        <div class="h_top hideMobile">
            <img class="logo" src="https://jiejiangs-1253930943.file.myqcloud.com/images/logo.png">
            <span class="color_yellow fl headerTitle">广西杰匠装饰</span>
    
            <i class="headerDesc">
              <span class="">专业</span> 公装品牌 办公装修 设计施工 </i>
            <p class="lh_80">咨询热线：
              <b >
                <a class="color_yellow" >0771-3925356</a>／ <a class="color_yellow">17774819799</a></b>
            </p>
            <img class="phone" src="https://jiejiangs-1253930943.file.myqcloud.com/images/phone.png">
    
          </div>
    
          <div class="h_top showMobile">
            <img class="fl" style="width:auto;height:50px;margin-top:15px" src="https://jiejiangs-1253930943.file.myqcloud.com/images/logo.png">
            <div class="fl " style="width:60%">
                <div  class="color_yellow" style="margin:15px 0 0 10px;text-align:center;"> 广西杰匠装饰</div>
                <div class="" style="margin:10px 0 0 10px;font-size:12px;text-align:center;">&nbsp;&nbsp;专业 公装品牌 办公装修 设计施工</div>
                <div style="margin:5px 0 0 5px;text-align:center;">
                  <img class="" style="float:left;height:20px" src="https://jiejiangs-1253930943.file.myqcloud.com/images/phone.png"> 
                  <b style="font-size:12px;">
                    <a class="color_yellow" href="tel:0771-3925356">0771-3925356</a>／ <a class="color_yellow" href="tel:17774819799">17774819799</a>
                  </b>
                </div>
            </div>
          </div>

      <div class="nav-box">
        <!-- logo -->
        <!-- <div class="nav-left">
            <img id="logo_top" src="https://jiejiangs-1253930943.file.myqcloud.com/images/logo.png"></a>
          </div> -->
        <!-- memu选项 -->
        <div class="nav-mid">

          <ul class="navbar-nav">
            <li>
              <a  href="index.html">杰匠首页</a>
            </li>
            <li>
              <a class="" href="product.html?type1=广西南宁办公室装修">办公室装修</a>
            </li>
            <li>
              <a class="" href="product.html?type1=广西南宁商业空间装修">商业空间装修</a>
            </li>
            <li>
              <a class="" href="product.html?type1=广西南宁会所装修">会所装修</a>
            </li>
            <li>
              <a class="" href="product.html">工程案例</a>
            </li>
            <li>
              <a class="active" href="shigong.html">施工现场</a>
            </li>
            <li>
              <a class="" href="news.html">资讯中心</a>
            </li>
            <li>
              <a class="" href="aboutus.html">关于杰匠</a>
            </li>
          </ul>
        </div>
        <!-- 响应式菜单 -->
        <div class="nav-mobile-menu">
          <span class="sidebar_trigger"></span>
        </div>
      </div>
    </div>
  </header>
  <!-- section -->
  <section>
    <div id="app" class="box clearfix"  v-cloak>
      <div style="margin:10px;">
        <div class="box-right-top">
          <ul>
            <li>当前位置&nbsp>></li>
            <li @click="currentItem = {}" ><a>施工现场</a> </li>
            <li v-if="currentItem.text">&nbsp>>{{currentItem.text}}</li>
          </ul>
        </div>
        <div class="box-right-mid clearfix demoParent" v-if="currentItem.text">
          <div v-html="currentItem.content">
            {{currentItem.content}}
          </div>
          <p style="margin: 10px;font-size:18px;font-weight:bold;">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp广西杰匠装饰，以诚信为宗旨，巧妙的设计构思，精良的施工工艺，优质的质保服务。坚持以客户为中心，为客户提供满意的装修服务。了解更多有关办公室装修，商业空间装修，高端办公室装修，投资办公室装修，各种装修资讯可以直接拨打热线0771-3925356,我们期待您的来电。
          </p>
          <P style="margin: 10px;font-size:18px;font-weight:bold;">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp主营业务：南宁办公室装修，南宁商场装修，南宁餐饮店装修，南宁会所装修，南宁酒店宾馆装修，南宁学校装修，南宁幼儿园装修，南宁厂房装修
          </P>

          <div class="box-weixin clearfix">
            <div class="wixin-fa">
              <p>
                欢迎扫码资讯
              </p>
              <img id="wx_img" src="https://jiejiangs-1253930943.file.myqcloud.com/images/weixin.png" alt="">
            </div>
            <div class="wixin-info">
              <p>联系人：&nbsp 吴先生 </p>
              <p>地址：&nbsp 南宁江南区工业机械设计院501号 </p>
              <p>座机：&nbsp <a href="tel:0771-3925356"> 0771-3925356 </a> </p>
              <p class="phone">电话：&nbsp <a href="tel:+86 177 7481 9799">+86 177 7481 9799</a></p>
              <p class="phone">Q&nbspQ： &nbsp <a href="http://wpa.qq.com/msgrd?v=3&uin=3292757596&site=qq&menu=yes">3292757596</a> </p>
            </div>
          </div>
  


        </div>
        <div v-else>
            <div class="box-right-mid clearfix" >
                <div v-for="(item,index) in showDemos" class="shigong_container" :class="index%2 == 0 ? 'bg-gray' : 'bg-blue'" class="" > 
                  <img :src="item.image"  alt="">
                  <div class="shigong_right_container" >
                    <a @click="clickItem(index)" style="font-size: 24px">{{item.text}}</a>
                    <span style="float:right">{{item.date}}</span>
                    <p style="margin-top:10px;height:80px;overflow:hidden;">
                      {{item.desc}}
                    </p>
      
                  </div>
                  
      
                </div>
              </div>
          <el-pagination v-if="menuList.length" style="background: white;text-align:center;padding-top: 20px;" :pager-count="4" background layout="prev, pager, next" :total="menuList.length" :page-size="pageSize" @current-change="currentChange" :current-page.sync = "currentPage"></el-pagination>
    
        </div>
       
    

      </div>
    </div>
  </section>

  <!-- footer页面底部 -->
  <footer style="padding:20px">
      <img src="https://jiejiangs-1253930943.file.myqcloud.com/images/foot.jpg" style="width:100%;height:auto" alt="">
  
  
    </footer>
    
    <!-- 版权信息 -->
    <div class="container copy">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="copyright">©2019 广西杰匠装饰设计工程有限公司. 版权所有.
            <a href="http://beian.miit.gov.cn">桂ICP备 19003402 号</a>
          </p>
        </div>
      </div>
    </div>


    <!-- 移动端页面底部导航 -->
    <div class="flex-container">
      <a class="flex-item" href="./index.html">
        <img src="./images/foot_logo2.jpg"  alt="">
        <span >首页</span>
      </a>
      <a class="flex-item" href="./product.html">
        <img src="./images/foot_logo3.jpg"  alt="">
        <span >工程案例</span>
      </a>
      <a class="flex-item"  href="tel:17774819799">
        <img src="./images/foot_logo1.jpg"  alt="">
        <span >电话咨询</span>
      </a>
      <a class="flex-item" href="./aboutus.html">
        <img src="./images/foot_logo4.jpg"  alt="">
        <span >关于杰匠</span>
      </a>
    </div>

  <!-- 返回顶部按钮 -->
  <button class="back-to-top" style="display: none;"></button>
  <!-- 框架库加载 -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- 脚本加载 -->
  <script src="js/main.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    var app4 = new Vue({
      el: '#app',
      data: {
        menuList: shigong,
        currentItem: {},
        showDemos: [],
        currentPage: 1,
        pageSize: 2
      },
      methods: {
        getUrlParam: function (name) {
          var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)');
          var result = window.location.search.substr(1).match(reg);
          return result ? decodeURIComponent(result[2]) : "";
        },
        clickItem:function(index){
          this.currentItem = this.menuList[index]
        },
        currentChange: function(s,n){
          this.currentPage = s;
          this.showDemos = this.menuList.slice(this.currentPage * this.pageSize - this.pageSize, this.currentPage * this.pageSize)
        }
      },
      mounted: function () {
        if (this.getUrlParam("index") !== "") {
          this.currentItem = this.menuList[parseInt(this.getUrlParam("index"))]
        }
        console.log(this.currentItem)
        this.menuList = this.menuList.reverse()
        this.showDemos = this.menuList.slice(this.currentPage * this.pageSize - this.pageSize, this.currentPage * this.pageSize)
  
      },

    })
  </script>
</body>

</html>